<div class="popup">
  <h2><a href="{{ refuge.URL }}" target="_blank">{{ refuge.ORGNAME }}</a></h2>
  <p>Phone: {{ refuge.PHONE }}</p>
  <address>
    {{ refuge.ADDRESS }} <br>
    {{ refuge.CITY }}, {{ refuge.STATE }} {{ refuge.ZIPCODE }} <br>
  </address>
</div>
